@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico);

$cursive-title: "Pacifico", cursive;
$sans-serif-title: "Fjalla One", sans-serif;
$body-font: "Roboto", sans-serif;
$light-neutral: #c9c9c9;
$accent-color: #39f1c8;
$dark-accent: #173e43;

* {
  box-sizing: border-box;
}

strong {
  font-weight: 700;
}

// Hero

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url(codingHero.png);
  background-size: cover;
  align-items: center;
}

@mixin textShadow($color){
  color: #fff;
  font-weight: bold;
  text-shadow:
    0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);
}

h1 {
  line-height: 2em;
  @include textShadow(#fff);
}

.description {
  background-color: transparentize(#000, .8);
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: $body-font;
  font-size: 20px;
}

.last-name {
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  font-family: $sans-serif-title;
  margin: 0;
}

.first-name {
  text-align: center;
  font-size: 75px;
  font-family: $cursive-title;
  margin: 0;
}

// Navigation

nav {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: right;
  display: inline-block;
  background: none;
  box-shadow: none;
  line-height: 20px;

  .nav-item {
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  a:link,
  a:active,
  a:visited {
    background-color: #fff;
    color: $light-neutral;
    font-family: $body-font;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    background: linear-gradient(to right, #fff 50%, $accent-color 50%);
    background-size: 200% 100%;
    padding: 10px 25px 10px 10px;
    margin-top: 10px;
    transition: 1s ease;
    background-position:left bottom;
  }

  a:hover {
    background-color: $accent-color;
    border-color: $accent-color;
    color: #fff;
    text-decoration: none;
    transition: 1s;
    background-position: right bottom;
  }
}

a {
  &:link, &:visited, &:active {
    color: white;
    font-weight: bold;
  }

  &:hover {
    color: $accent-color;
    transition: 1s;
  }
}

// Portfolio Section

.section-header {
  background-color: $dark-accent;
  overflow: hidden;
  text-align: center;
  padding-top: 2px;

  h2 {
    font-family: $sans-serif-title;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    margin: 5px;
    text-shadow: 0 1px 3px rgba(255,255,255,.3), 0 3px 5px rgba(255,255,255,.2);
  }
}

.thumbnail {
  width: 100%;
  opacity: .5;

  &:hover {
    opacity: 1;
    transition: 1s;
  }
}

.row {
  margin-bottom: 0;

  .col {
    padding: 0;
    margin-bottom: -7px;
  }
}

// About Me

.headshot {
  width: 100%;
  border-radius: 100%;
  padding: 20px;
}

.about-description {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px !important;
  font-family: $body-font;
}

.skills {
  text-align: center;
  padding: 20px;

  h4 {
    font-size: 20px;
  }

  .icon {
    max-height: 40px;
    margin: 10px;
  }

  img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      transition: 1s;
    }
  }
}

// Show page starts here

.show-title {
  text-align: center;

  h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    @include textShadow(#fff);
  }
}

.show-logo {
  max-width: 50px;
  margin: 10px;
  position: fixed;
  top: 0;
  left: 0;
}

.show-header-arrow {
  text-align: center;
}

.show-links {
  text-align: center;
  padding-top: 20px;
}

.show-button {
  font-family: $body-font;
  font-size: 20px;
  margin: 10px;

  a:link, a:active, a:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid $accent-color;
    color: $accent-color;
    background: $accent-color;
    padding: 5px;
    border: 2px solid $accent-color;
    background: linear-gradient(to right, white 50%, $accent-color 50%);
    background-size: 210% 100%;
    background-position:left bottom;
    transition: 1s ease;
  }

  a:hover {
    background-color: $accent-color;
    color: white;
    padding: 5px;
    border: 2px solid $accent-color;
    background-position: right bottom;
  }
}

.show-technologies {
  width: 100%;
  text-align: center;
  padding-top: 30px;

  .technology {
    font-family: $body-font;
    background-color: $light-neutral;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px transparentize(black, .5);
    margin: 5px;
  }
}

.show-content {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: $body-font;
  text-align: center;
}

.row {

  .slide-left-start {
    left: -100%;
  }

  .slide-left-end {
    left: 0%;
    transition: 2s;
  }

  .slide-right-start {
    right: -100%;
  }

  .slide-right-end {
    right: 0%;
    transition: 2s;
  }
}

.show-description {
  display: flex;
  padding: 10px !important;
  justify-content: center;
  flex-direction: column;
  min-height: 300px;
}

.show-images {
  min-height: 275px;
}

.show-image {
  max-width: 100%;
  padding-bottom: 15px;
}

@media only screen and (max-width: 667px) {
  h1 {
    font-size: 100px;
  }
}
