@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
* {
  box-sizing: border-box; }

strong {
  font-weight: 700; }

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background: url(codingHero.png);
  background-size: cover;
  align-items: center; }

h1 {
  line-height: 2em; }

.description {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 20px; }

.last-name {
  text-align: center;
  font-size: 150px;
  text-transform: uppercase;
  font-family: "Fjalla One", sans-serif;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.first-name {
  text-align: center;
  font-size: 75px;
  font-family: "Pacifico", cursive;
  margin: 0;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

nav {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: right;
  display: inline-block;
  background: none;
  box-shadow: none;
  line-height: 20px; }
  nav .nav-item {
    padding-bottom: 20px;
    margin-bottom: 10px; }
  nav a:link,
  nav a:active,
  nav a:visited {
    background-color: #fff;
    color: #c9c9c9;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    text-decoration: none;
    background: linear-gradient(to right, #fff 50%, #39f1c8 50%);
    background-size: 200% 100%;
    padding: 10px 25px 10px 10px;
    margin-top: 10px;
    transition: 1s ease;
    background-position: left bottom; }
  nav a:hover {
    background-color: #39f1c8;
    border-color: #39f1c8;
    color: #fff;
    text-decoration: none;
    transition: 1s;
    background-position: right bottom; }

a:link, a:visited, a:active {
  color: white;
  font-weight: bold; }
a:hover {
  color: #39f1c8;
  transition: 1s; }

.section-header {
  background-color: #173e43;
  overflow: hidden;
  text-align: center;
  padding-top: 2px; }
  .section-header h2 {
    font-family: "Fjalla One", sans-serif;
    color: white;
    font-size: 32px;
    text-transform: uppercase;
    margin: 5px;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.3), 0 3px 5px rgba(255, 255, 255, 0.2); }

.thumbnail {
  width: 100%;
  opacity: .5; }
  .thumbnail:hover {
    opacity: 1;
    transition: 1s; }

.row {
  margin-bottom: 0; }
  .row .col {
    padding: 0;
    margin-bottom: -7px; }

.headshot {
  width: 100%;
  border-radius: 100%;
  padding: 20px; }

.about-description {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px !important;
  font-family: "Roboto", sans-serif; }

.skills {
  text-align: center;
  padding: 20px; }
  .skills h4 {
    font-size: 20px; }
  .skills .icon {
    max-height: 40px;
    margin: 10px; }
  .skills img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%); }
    .skills img:hover {
      filter: none;
      -webkit-filter: grayscale(0%);
      transition: 1s; }

.show-title {
  text-align: center; }
  .show-title h1 {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0;
    color: #fff;
    font-weight: bold;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.15); }

.show-logo {
  max-width: 50px;
  margin: 10px;
  position: fixed;
  top: 0;
  left: 0; }

.show-header-arrow {
  text-align: center; }

.show-links {
  text-align: center;
  padding-top: 20px; }

.show-button {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  margin: 10px; }
  .show-button a:link, .show-button a:active, .show-button a:visited {
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #39f1c8;
    color: #39f1c8;
    background: #39f1c8;
    padding: 5px;
    border: 2px solid #39f1c8;
    background: linear-gradient(to right, white 50%, #39f1c8 50%);
    background-size: 210% 100%;
    background-position: left bottom;
    transition: 1s ease; }
  .show-button a:hover {
    background-color: #39f1c8;
    color: white;
    padding: 5px;
    border: 2px solid #39f1c8;
    background-position: right bottom; }

.show-technologies {
  width: 100%;
  text-align: center;
  padding-top: 30px; }
  .show-technologies .technology {
    font-family: "Roboto", sans-serif;
    background-color: #c9c9c9;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    margin: 5px; }

.show-content {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center; }

.row .slide-left-start {
  left: -100%; }
.row .slide-left-end {
  left: 0%;
  transition: 2s; }
.row .slide-right-start {
  right: -100%; }
.row .slide-right-end {
  right: 0%;
  transition: 2s; }

.show-description {
  display: flex;
  padding: 10px !important;
  justify-content: center;
  flex-direction: column;
  min-height: 300px; }

.show-images {
  min-height: 275px; }

.show-image {
  max-width: 100%;
  padding-bottom: 15px; }

/*# sourceMappingURL=style.css.map */
